<ion-header>
  <ion-navbar>
    <ion-title>
      Team OpCode
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>This App was developed by:</ion-list-header>

    <ion-item>Audrey Chanakira</ion-item>
    <ion-item>Elna Mukasa</ion-item>
    <ion-item>Noble Mutoko</ion-item>
    <ion-item>Tresia Fransisko</ion-item>
    <ion-item>Kunaije Kazauana</ion-item>
  </ion-list>
</ion-content>
