<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <img src="assets/imgs/road1.jpg"/>
  </ion-card>
  <ion-list>
  <ion-item>
    <ion-label>My Starting Point</ion-label>
    <ion-select [(ngModel)]="Start">
      <ion-option value="nes">Windhoek</ion-option>
      <ion-option value="n64">Okahandja</ion-option>
      <ion-option value="ps">Walvis Bay</ion-option>
      <ion-option value="genesis">Swakopmund</ion-option>
      <ion-option value="saturn">Katima</ion-option>
      <ion-option value="snes">Rehobooth</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>My Destination</ion-label>
    <ion-select [(ngModel)]="Destination">
      <ion-option value="nes">Windhoek</ion-option>
      <ion-option value="n64">Okahandja</ion-option>
      <ion-option value="ps">Walvis Bay</ion-option>
      <ion-option value="genesis">Swakopmund</ion-option>
      <ion-option value="saturn">Katima</ion-option>
      <ion-option value="snes">Rehobooth</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

 <button ion-button color="secondary" block (click)="showAlert()">View more Info</button>
</ion-content>
