<ion-header>
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Set Marker</button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>
 
<ion-content>
  <div #map id="map"></div> 
  <ion-grid>
  <ion-row>
    <ion-col col-6>
      <button ion-button full color="danger" block (click)="presentToast()">Report Accident
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button full color="caution" block (click)="presentToast()">Report Congestion
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>